.top-navbar-link-active {
  background-color: #2F3E74;
}

.top-navbar-link-active a{
  color:white !important;
}

.navbar-nav-real-estate {
  width:100%;
}

.navbar-real-estate{
  padding: 0px !important;
}

.real-estate-menu ul li
{
  margin-top: 10px;
  width:35%;
}

.real-estate-menu ul li a
{
	display: block;
	color: #182763;
	font-weight: bolder;
	font-family: "Segoe UI";
	text-decoration: none;
  padding:20px;
  text-align: center;
	font-size: 12px;
}

.real-estate-menu ul li a:hover
{
	background-color: #00C7FF;
	color: white;
}
