<!--Inicio de navbar header-->
<nav class="navbar navbar-real-estate navbar-expand-lg">
    <button    style="background-color:white;border:darkgray 1px solid;" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".real-estate-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse real-estate-menu">
      <ul class="navbar-nav navbar-nav-real-estate mr-auto">
          <li routerLinkActive="top-navbar-link-active"><a routerLink="/home">HOME</a></li>
          <li routerLinkActive="top-navbar-link-active"><a routerLink="/communities">COMMUNITIES</a></li>
          <li routerLinkActive="top-navbar-link-active"><a href="javascript:void(0);">VILLAS</a></li>
          <li routerLinkActive="top-navbar-link-active"><a href="javascript:void(0);">APARTMENTS</a></li>
          <li routerLinkActive="top-navbar-link-active"><a href="javascript:void(0);">HOME SITES</a></li>
          <li routerLinkActive="top-navbar-link-active"><a href="javascript:void(0);">FOR RENT</a></li>
          <li routerLinkActive="top-navbar-link-active"><a href="javascript:void(0);">BLOG</a></li>
          <li routerLinkActive="top-navbar-link-active"><a routerLink="/about-us">ABOUT US</a></li>
          <li routerLinkActive="top-navbar-link-active"><a routerLink="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
<!-- Fin de navbar -->
