<div class="row community-main">
  <div class="col-md-12"><app-community-detail></app-community-detail></div>
</div>

<div class="row">
    <div class="col-md-8">
      <h4
        style="color:#182763;;font-weight:bolder;float:left;margin-right:20px;"
      >
        FILTERS
      </h4>
      <select class="form-control form-control-sm">
        <option>Select price</option>
        <option>Precio----</option>
        <option>Precio----</option>
      </select>

      <select class="form-control form-control-sm">
        <option>Select status</option>
        <option>Sale</option>
        <option>Rent</option>
      </select>

      <select class="form-control form-control-sm">
        <option>Select area</option>
        <option>Area</option>
        <option>Area</option>
      </select>

      <article class="row" style="margin-top:20px;">
        <div class="col-md-4" style="padding-top:7px;">
          <img src="assets/images/dummy/imagen-square.png" class="img-responsive" border="0" />
        </div>

        <div
          class="col-md-4"
          style="padding-left:0px;border-right:1px lightgray solid;"
        >
          <h4 style="color:#182763;;font-weight:bolder;">PLAYA SERENA</h4>
          <p>
            <b>Bedrooms: </b>0<br />
            <b>Bedrooms: </b>0<br />
            <b>Construction Area: </b>0,000 mts<br />
            <b>Home Site Area: </b>000<br />
            <b>Views: </b>0000<br />
            <b>Listing Price:</b><br />
            Sale - <span style="color:#00C7FF;">$0,000,000</span><br />
            Rent - <span style="color:#00C7FF;">$0,000,000</span><br />
          </p>
        </div>

        <div class="col-md-4" style="padding-left:50px;">
          <h4 style="color:#182763;;font-weight:bolder;">STATUS:</h4>
          <img
            style="margin:10px;"
            src="assets/images/web-utils/sale.png"
            width="50px"
            height="50px"
          /><br />
          <img
            style="margin:10px;"
            src="assets/images/web-utils/rent.png"
            width="50px"
            height="50px"
          />
        </div>
      </article>
      <hr />

    </div>

    <div class="col-md-4">

    </div>
  </div>
