.contact-service-box h3 {
  color: #182763;
  font-weight: bolder;
}


.contact-container{
  width:100%;
  margin: auto;
}

.contact-form-contact{
   width: 450px;
   margin: auto;
}

.contact-form-note{
  margin-top: 10px;
}


.contact-logo-container{
  width:350px;
  margin-top:40px;
  margin: auto;
}

.contact-address-box {
  width:350px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.contact-social-bottom {
  width:350px;
  margin: auto;
}

.contact-social-bottom ul{
  list-style-type: none;
}

.contact-social-bottom ul li{
  display: inline-block;
  margin: 2px;
}
