<div class="row">
  <div class="col-md-8">
    <article class="contact-service-box">
      <h3>WE ARE AT YOUR SERVICE</h3>
      <p>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y
        archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las
        imprentas y archivos de texto.
      </p>
    </article>

    <div class="contact-container">
      <form role="form" name="formulario" class="contact-form-contact">
        <fieldset>
          <legend>Contact form</legend>

          <div class="form-group">
            <label>First Name</label> <input type="text" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>Last Name</label> <input type="text" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>E-mail</label> <input type="text" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>Phone</label> <input type="text" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>Alt. Phone</label> <input type="text" class="form-control form-control-sm" />
          </div>

          <div class="form-group">
            <label>Best time to contact me</label>
            <select class="form-control form-control-sm">
              <option value="any">Any</option>
            </select>
          </div>

          <div class="form-group">
            <label>Comments</label>
            <textarea rows="5" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group" style="margin-left:100px;">
            <a href="#" class="btn-contacto">RESET</a>
            <a href="#" class="btn-contacto">SUBMIT</a>
          </div>
        </fieldset>

        <div class="contact-form-note">
          <p>
            * By submitting this form with your telephone number you are
            consenting for any and all authorized representatives of Puntacana
            Real Estates to contact you.
          </p>
        </div>
      </form>
    </div>

    <div class="contact-container">
      <div class="contact-logo-container">
        <img src="assets/images/branding/logo.png" class="img-responsive" />
      </div>

      <div class="contact-address-box">
        <address>
          <strong>Punta Cana Real States, Inc.</strong><br />
          795 Folsom Ave, Suite 600<br />
          San Francisco, CA 94107<br />
          <abbr title="Office">Office:</abbr> (123) 456-7890 <br />
          <abbr title="Fax">Fax:</abbr> (123) 323-1212 <br />
          <a href="mailto:#">info@puntcanarealstates.com</a>
        </address>
      </div>

      <div class="contact-social-bottom">
        <ul>
          <li>
            <a target="_blank" href="http://www.facebook.com"
              ><img
                src="assets/images/social/contact/fbus.png"
                height="40"
                width="40"
            /></a>
          </li>
          <li>
            <a target="_blank" href="http://www.google.com"
              ><img
                src="assets/images/social/contact/gous.png"
                height="40"
                width="40"
            /></a>
          </li>
          <li>
            <a target="_blank" href="http://www.twitter.com"
              ><img
                src="assets/images/social/contact/twittus.png"
                height="40"
                width="40"
            /></a>
          </li>
          <li>
            <a target="_blank" href="http://www.instagram.com"
              ><img
                src="assets/images/social/contact/instagramus.png"
                height="40"
                width="40"
            /></a>
          </li>
          <li>
            <a target="_blank" href="http://www.youtube.com"
              ><img
                src="assets/images/social/contact/youtubeus.png"
                height="40"
                width="40"
            /></a>
          </li>
          <li>
            <a target="_blank" href="http://www.rss.com"
              ><img
                src="assets/images/social/contact/rssus.png"
                height="40"
                width="40"
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12">
      <!-- <center> -->

      <!-- </center> -->
    </div>

    <!--
      <div class="col-md-12" style="padding-bottom:100px;">
        <div class="col-md-1" style="margin-left:165px;">
          <a href="http://www.facebook.com" target="_blank"
            ><img
              src="assets/images/social/contact/fbus.png"
              border="0"
              height="40"
              width="40"
          /></a>
        </div>

        <div class="col-md-1">
          <a href="http://www.google.com" target="_blank"
            ><img
              src="assets/images/social/contact/gous.png"
              border="0"
              height="40"
              width="40"
          /></a>
        </div>

        <div class="col-md-1">
          <a href="http://www.twitter.com" target="_blank"
            ><img
              src="assets/images/social/contact/twittus.png"
              border="0"
              height="40"
              width="40"
          /></a>
        </div>

        <div class="col-md-1">
          <a href="http://www.instagram.com" target="_blank"
            ><img
              src="assets/images/social/contact/instagramus.png"
              border="0"
              height="40"
              width="40"
          /></a>
        </div>

        <div class="col-md-1">
          <a href="http://www.youtube.com" target="_blank"
            ><img
              src="assets/images/social/contact/youtubeus.png"
              border="0"
              height="40"
              width="40"
          /></a>
        </div>

        <div class="col-md-1">
          <a href="http://www.rss.com" target="_blank"
            ><img
              src="assets/images/social/contact/rssus.png"
              border="1"
              height="40"
              width="40"
          /></a>
        </div>
      </div>
    -->
  </div>
</div>
