<!-- Inicio de footer -->
<div
  id="pie-pagina"
  class="row"
  style="background-image:url(assets/images/footer/footer.png); padding-top:15px;margin:3px;background-repeat:repeat;">
  <article class="col-md-4" style="border-right:1px solid darkgray;">
    <img
      src="assets/images/branding/logo.png"
      width="200"
      height="150"
      class="img-responsive"
      style="margin-top:20px; margin:20px; border:0;"
    />
    <div style="margin:20px;">
      <p>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y
        archivos de texto.
      </p>
      <p>&copy;2014 Punta Cana Real States</p>
      <a href="#">Site Map</a> <a href="#">Privacy Policy</a>
    </div>
  </article>

  <article
    class="col-md-4"
    style="border-right:1px solid darkgray; min-height:285px;  padding-top:60px;"
  >
    <h3 style="margin-left:38px; font-weight: bold;">Links</h3>
    <div class="row">
      <div class="col-md-6">
        <ul style="list-style:none;">
          <li><a href="#">Home</a></li>
          <li><a href="#">Communities</a></li>
          <li><a href="#">Villas</a></li>
          <li><a href="#">Apartments</a></li>
          <li><a href="#">Home Sites</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul style="list-style:none;">
          <li><a href="#">For Rent</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About US</a></li>
          <li><a href="#">Contact US</a></li>
        </ul>
      </div>
    </div>
  </article>

  <article class="col-md-4" style="min-height:265px; padding-top:60px;">
    <h3 style="margin-left:38px; font-weight: bold;">Follow US</h3>
    <div class="row">
      <div class="col-md-6">
        <ul style="list-style:none;">
          <li style="margin-bottom:10px;">
            <a href="#"><img src="assets/images/social/footer/rss.png" />&nbsp;RSS</a>
          </li>
          <li style="margin-bottom:10px;">
            <a href="#"><img src="assets/images/social/footer/twitter.png" />&nbsp;Twitter</a>
          </li>
          <li style="margin-bottom:10px;">
            <a href="#"
              ><img src="assets/images/social/footer/instagram.png" />&nbsp;Instagram</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul style="list-style:none;">
          <li style="margin-bottom:10px;">
            <a href="#"><img src="assets/images/social/footer/fb.png" />&nbsp;Facebook</a>
          </li>
          <li style="margin-bottom:10px;">
            <a href="#"><img src="assets/images/social/footer/yb.png" />&nbsp;Youtube</a>
          </li>
          <li style="margin-bottom:10px;">
            <a href="#"><img src="assets/images/social/footer/google.png" />&nbsp;Google+</a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
<!-- Fin de footer -->
