<article class="row" style="margin-top:20px;">
    <div class="col-md-4" style="padding-top:7px;">
      <img src="assets/images/dummy/imagen-square.png" class="img-responsive" border="0" />
    </div>

    <div
      class="col-md-4"
      style="padding-left:0px;border-right:1px lightgray solid;"
    >
      <h4 style="color:#182763;;font-weight:bolder;">PLAYA SERENA</h4>
      <p>
        <b>Bedrooms: </b>0<br />
        <b>Bedrooms: </b>0<br />
        <b>Construction Area: </b>0,000 mts<br />
        <b>Home Site Area: </b>000<br />
        <b>Views: </b>0000<br />
        <b>Listing Price:</b><br />
        Sale - <span style="color:#00C7FF;">$0,000,000</span><br />
        Rent - <span style="color:#00C7FF;">$0,000,000</span><br />
      </p>
    </div>

    <div class="col-md-4" style="padding-left:50px;">
      <h4 style="color:#182763;;font-weight:bolder;">STATUS:</h4>
      <img
        style="margin:10px;"
        src="assets/images/web-utils/sale.png"
        width="50px"
        height="50px"
      /><br />
      <img
        style="margin:10px;"
        src="assets/images/web-utils/rent.png"
        width="50px"
        height="50px"
      />
    </div>
  </article>
