.community-box {
  margin-top: 10px;
}

.community-image-box{
  float: left;
  width: 250px;
}

.community-box-article{
  width: 450px;
  float:left;
}

.community-box-article h3{
	background-color: #182763;
	text-align: left;
	color: white;
	height: 35px;
	padding-top: 4px;
	padding-left:10px;
	font-family: "Segoe UI";
	font-weight: bold;
	font-size: 22px;
}

.community-box-buttons{
  float: left;
  margin-top: 5px;
}

.community-image-box img {
  border: 1px solid lightgray;
}
