<div class="community-box">
        <div class="community-image-box">
          <img src="assets/images/dummy/imagen-square.png"  class="img-responsive" border="0" >
        </div>

        <div class="community-box-article" style="padding-left:0px;">
          <h3>{{title}}</h3>
          <p>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)desconocido usó una galería de. <a href="#">View More</a>
          </p>
        </div>

        <div class="community-box-buttons">
            <a href="#" class="btn-pcana">FOR SALE</a>
            <a href="#" class="btn-pcana">FOR RENT</a>
        </div>
</div>
