<div class="row">
  <div class="col-md-8">
    <article class="about-container about-article about-main">
      <h3>OUR COMPANY</h3>
      <p>
        Donec porta ut dui quis accumsan. Quisque in purus eget odio congue
        tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien,
        ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam
        condimentum volutpat pretium. Morbi et luctus nunc. Maecenas tempor
        sapien libero, eget consectetur felis pulvinar in.
      </p>

      <p>
        Sed ac sapien in nulla facilisis facilisis sit amet vitae magna.
        Pellentesque at mattis dui, a sodales enim. Aenean semper rhoncus orci,
        facilisis tristique dui pulvinar in. Vestibulum nec magna et purus
        dignissim rhoncus et nec neque. Etiam quis arcu non nulla mollis
        ullamcorper ut quis ipsum. Nunc lobortis non risus ut porttitor. Etiam
        scelerisque bibendum nulla id laoreet. Aenean nec dolor erat. Mauris
        sagittis lacus ut dapibus ultricies.
      </p>

      <p>
        Nullam ligula enim, posuere quis justo in, tempor volutpat mi.
        Pellentesque id augue blandit, vestibulum lacus sit amet, blandit metus.
        Integer suscipit arcu enim, vitae ultrices mi ullamcorper in. Morbi vel
        gravida ipsum, sed dapibu
      </p>
    </article>

    <article class="about-container about-article">
      <h3>OUR TEAM</h3>
      <p>
        Donec porta ut dui quis accumsan. Quisque in purus eget odio congue
        tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien,
        ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam
        condimentum volutpat pretium. Morbi et luctus nunc. Maecenas tempor
        sapien libero, eget consectetur felis pulvinar in.
      </p>
    </article>

    <div class="about-container">
      <div class="about-general-container">
        <div class="about-profile-container"><app-profile></app-profile></div>
        <div class="about-profile-container"><app-profile></app-profile></div>
        <div class="about-profile-container"><app-profile></app-profile></div>
        <div class="about-profile-container"><app-profile></app-profile></div>
      </div>
    </div>
  </div>
</div>
