.about-container {
    width: 100%;
}

.about-article h3{
  color:#182763;
  font-weight:bolder;
}

.about-article p{
  text-align: justify;
}

.about-general-container{
  margin: auto;
  width:540px;
}

.about-profile-container{
  float: left;
  width:250px;
}
