<!-- Inicio de seccion de contenedor -->
<div class="container">
  <!-- Inicio de seccion para logo -->
  <div class="row">
    <div class="col-md-4 col-sm-12 offset-md-4">
      <img
        src="assets/images/branding/logo.png"
        class="img-responsive"
        border="0"
      />
    </div>
  </div>

  <!-- Inicio de seccion para top header -->
  <div class="row">
    <div class="col-md-12"><app-top-navbar></app-top-navbar></div>
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img [src]="'assets/images/dummy/slide1.jpg'" alt="CORALES" />
          <div class="carousel-caption">
            <h3>CORALES:</h3>
            <p>
              Corales is the most exclusive community in the Caribbean. It is a
              very private yet warm refuge,where neighbors know neighbors and
              children make lifelong friends.
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <img [src]="'assets/images/dummy/slide2.jpg'" alt="ARRECIFE" />
          <div class="carousel-caption">
            <h3>ARRECIFE:</h3>
            <p>
              The turquoise Caribbean Sea and the back Nine Holes of La Cana
              Golf Courseare the stunning settings that nest the elegant homes
              of this community.
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <img [src]="'assets/images/dummy/slide3.jpg'" alt="PLAYA SERENA" />
          <div class="carousel-caption">
            <h3>PLAYA SERENA:</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <img [src]="'assets/images/dummy/slide4.jpg'" alt="TORTUGA" />
          <div class="carousel-caption">
            <h3>TORTUGA:</h3>
            <p>
              Tortuga is a fully developed and lively community of mostly
              resident families within the First Nine Holes of La Cana Golf
              Course.
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <img [src]="'assets/images/dummy/slide5.jpg'" alt="HACIENDA" />
          <div class="carousel-caption">
            <h3>HACIENDA:</h3>
            <p>
              Hacienda is the newest community in Puntacana mainly for golf
              lovers and people who want an affordable luxurious lifestyle &
              home in the Caribbean.
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <!-- Fin de seccion para top header -->

  <!-- Inicio de seccion principal -->
  <router-outlet></router-outlet>
  <!-- Fin de seccion principal -->

  <!-- Inicio de seccion para footer -->
  <div class="row">
    <div class="col-md-12"><app-footer></app-footer></div>
  </div>
  <!-- Fin de seccion para footer -->
</div>
<!-- Fin de seccion de contenedor -->
