<div class="row">
  <div class="col-md-8 home-main">
     <div class="home-row">
       <app-community-item [title]="'CORALES'"></app-community-item>
     </div>
     <div class="home-row">
        <app-community-item [title]="'PLAYA SERENA'"></app-community-item>
      </div>
      <div class="home-row">
          <app-community-item [title]="'ARRECIFE'"></app-community-item>
      </div>
      <div class="home-row">
          <app-community-item [title]="'TORTUGA'"></app-community-item>
      </div>
      <div class="home-row">
          <app-community-item [title]="'HACIENDA'"></app-community-item>
      </div>
      <div class="home-row">
          <app-community-item [title]="'VILLAGE'"></app-community-item>
      </div>
  </div>
</div>
