<div class="profile-box-container">
    <img src="assets/images/profiles/perfil.png"/>
    <h5>
      LOREM IPSUM DOLOR
    </h5>
    <address>
      <abbr title="Position">Job Title</abbr><br />
      <abbr title="Telephone">(000)-000-0000</abbr><br />
      <a href="mailto:#">name@puntcanarealstates.com</a>
    </address>
</div>
