.profile-box-container{
  text-align: center;
}

.profile-box-container img{
  border: 0px;
}

.profile-box-container h5 {
  color:#182763;
  font-weight:bolder;
  font-size:17px;
}

.profile-box-container address{
  padding-right: 2px;
}

