@import "../node_modules/bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

body
{
	background-image: url("./assets/images//web-utils/background.png");
	background-repeat: repeat;
	position: relative;
}


/*Inicio de alteraciones a carousel*/
.carousel-caption
{
	background-color: rgba(0, 0, 0, 0.4);
	background-repeat: repeat;
	background-position: initial initial;
  	right: 600px;
  	bottom: 0;
  	left: 0;
  	z-index: 10;
  	padding: 15px;
  	color: #fff;
  	text-align: left;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  	font-weight: bold;
}

.carousel-caption > h3
{
	color: #00C7FF;
	font-family: "Segoe UI";
	font-weight: bold;
}

/*Fin de alteraciones a carousel*/


.active li a
{
	color:#FFFFFF;
}

#barraMenu ul li
{
	margin-top: 10px;
}

#barraMenu ul li a
{
	display: block;
	color: #182763;
	font-weight: bolder;
	font-family: "Segoe UI";
	text-decoration: none;
	padding:20px;
	font-size: 12px;
}

#barraMenu ul li a:hover
{
	background-color: #00C7FF;
	color: white;
}

.titulado
{
	background-color: #182763;
	text-align: left;
	color: white;
	height: 35px;
	padding-top: 4px;
	padding-left:10px;
	font-family: "Segoe UI";
	font-weight: bold;
	font-size: 22px;
}

.titulado-centrado
{
	background-color: #182763;
	text-align: center;
	color: white;
	height: 35px;
	padding-top: 6px;
	padding-left:10px;
	font-family: "Segoe UI";
	font-weight: bold;
	font-size: 19px;
}

.btn-pcana
{
	background-color: #00C7FF;
	display: block;
	font-weight: bolder;
	font-family: "Segoe UI";
	width: 100px;
	height: 30px;
	color: white;
	text-decoration: none;
	float: left;
	padding: 5px 10px 0px 20px;
	margin-right: 5px;
	font-size: 13px;
}

.btn-pcana:hover
{
	color: black;
	text-decoration: none;
}

#pie-pagina h3
{
	color:#182863;
}

#pie-pagina p
{
	color:#182863;
}

#pie-pagina a
{
	color:#182863;
	font-size: 14px;
}



.sociales
{
	position: fixed;
	height: 380px;
	width: 93px;
	float: 0px;
	left: 89%;
	margin-top: 265px;
	background-image: url("./assets/images/social/social-box/backsocial.png");
}

@media screen and (max-width: 768px)
{
  .SlideShowHidden
  {
     display: none;
  }

  .TitleHidden
  {
  	display: none;
  }
}


.btn-contacto
{
	display: block;
	background:#00C7FF;
	color: white;
	font-size: 15px;
	font-weight: bolder;
	padding: 19px;
	height: 50px;
	width: 100px;
	float: left;
	margin-right: 5px;
	text-align: center;
}

.btn-contacto:hover
{
	color: black;
	text-decoration: none;
}

.imgComunidades
{
	margin: 10px;
}
