<div class="community-detail-article">
    <h3>ABOUT CORALES.</h3>
    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam condimentum volutpat pretium. Morbi et luctus nunc. Maecenas tempor sapien libero, eget consectetur felis pulvinar in.
    </p>
    <br/>

    <h5>LOVE GOLF?</h5>
    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam condimentum volutpat pretium. Morbi et luctus nunc.
    </p>
    <br/>

    <h5>EXCLUSIVITY.EXCLUSIVITY.EXCLUSIVITY.</h5>
    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu. Fusce ut facilisis justo.
    </p>

    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam condimentum volutpat pretium. Morbi et luctus nunc. Maecenas tempor sapien libero, eget consectetur felis pulvinar in.
    </p>
    <br/>

    <h5>WANT A HOME SITE TO BUILD THE CARIBBEAM HOME OF YOUR DREAMS</h5>
    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu. Fusce ut facilisis justo. Etiam condimentum volutpat pretium. Morbi et luctus nunc. Maecenas tempor sapien libero, eget consectetur felis pulvinar in.
    </p>
    <br/>

    <h5>WANT TO BUY YOUR CARIBBEAM HOME IN CORALES?</h5>
    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. Etiam aliquet eleifend magna. Ut pellentesque luctus sapien, ac mollis neque venenatis eu.
    </p>

    <p>
      Donec porta ut dui quis accumsan. Quisque in purus eget odio congue tristique. <a href="#">info@puntacanarealstates.com</a>.
    </p>
    <br/>
</div>
